language: java

jdk:
  - oraclejdk8

notifications:
  email: false
  slack:
    secure: CwD2A4aKRQfTkPnAixS1LE7lk5ZrwDKiKQfGAyo23mpX8Ql5oy4nosiqXKaeHxcL8tQduBFlfCC7+mGQ9HIWot0S2fTIk6K0pJ5NGD9gXGXw/5qh5WVCtbQrlDQ4TTsUGpdXKummIAeWHeE3LN8MHW6X7eNjLVyu8BdOOFhdQVE=

branches:
  except:
    - gh-pages

before_install:
  - export TERM=dumb
  - sudo apt-get update
  - sudo apt-get install -qq libstdc++6:i386 lib32z1
