language: android

jdk:
  - oraclejdk8
  #  - oraclejdk7
  #  - openjdk7

notifications:
  email: false
  slack:
    secure: CwD2A4aKRQfTkPnAixS1LE7lk5ZrwDKiKQfGAyo23mpX8Ql5oy4nosiqXKaeHxcL8tQduBFlfCC7+mGQ9HIWot0S2fTIk6K0pJ5NGD9gXGXw/5qh5WVCtbQrlDQ4TTsUGpdXKummIAeWHeE3LN8MHW6X7eNjLVyu8BdOOFhdQVE=

env:
  global:
    - secure: "FwEcZcdDELDIEzd5aYoUbRU1xOr7lkhRwzuMVUqeYzSScFr3vHc/2qc6C9NmlIQ1P6rKZ1d0rpC8Bqb//dHrnZpQay4Op6fqs+8ZTlAu0kHdR7zKFf3VPtaB98cq591a6eEz5TIMbFznMk+gW4xISwSukuubQsL447edwdf1Zb0="
    - secure: "VN0Pk/HE1qFlmPFDfIMhMd7cBpmqqHLeItF72Y7WHQpuAro5NPC6kR9vsmtWuHJyaFEMkegrNxae1N4avJj4GAH4GXbJoyw3w+K0PoRIOjT3MgMPhNhWCND/5SfnDak9qAzQnJl/yEN3lXNZIqLW/BAo3yYgSAtRKmdhBuHu03s="

branches:
  except:
    - gh-pages

android:
  components:
    - platform-tools
    - tools

    - build-tools-21.1.1

    - android-21

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

script:
  - ./gradlew build

after_success:
  - .buildscript/deploy_snapshot.sh

sudo: false

cache:
  directories:
    - $HOME/.gradle
