version: 2
jobs:
  build:
    working_directory: ~/analytics-android
    docker:
      - image: circleci/android:api-28-alpha
    environment:
      JVM_OPTS: -Xmx3200m
      CIRCLE_JDK_VERSION: oraclejdk8
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "analytics/build.gradle" }}-{{ checksum  "analytics-samples/analytics-sample/build.gradle" }}
      - run:
          name: Accept licenses
          command: yes | sdkmanager --licenses || true
      - run:
          name: Copy E2E Test Credentials
          command: |
            if [ "${RUN_E2E_TESTS}" == "true" ]; then
              echo "WEBHOOK_AUTH_USERNAME=${WEBHOOK_AUTH_USERNAME}" >> "analytics-samples/analytics-sample/e2e_test.properties"
            fi
      - run:
          name: Build
          command: ./gradlew check build assembleAndroidTest
      - run:
          name: Snyk
          command: curl -sL https://raw.githubusercontent.com/segmentio/snyk_helpers/master/initialization/snyk.sh | sh
          environment:
            SNYK_FAIL_ON: upgradable
            SNYK_SEVERITY_THRESHOLD: high
#      - run:
#          name: Run E2E Test
#          command: |
#            if [ "${RUN_E2E_TESTS}" == "true" ]; then
#              echo "${FIREBASE_TOKEN}" >> "secret.json"
#              curl -O https://dl.google.com/dl/cloudsdk/release/google-cloud-sdk.zip
#              unzip -qq google-cloud-sdk.zip
#              ./google-cloud-sdk/bin/gcloud config set project analytics-android-e2e-test
#              ./google-cloud-sdk/bin/gcloud auth activate-service-account --key-file secret.json
#              ./google-cloud-sdk/bin/gcloud firebase test android run --app analytics-samples/analytics-sample/build/outputs/apk/debug/analytics-sample-debug.apk --test analytics-samples/analytics-sample/build/outputs/apk/androidTest/debug/analytics-sample-debug-androidTest.apk --device-ids Nexus6,hammerhead,sailfish --os-version-ids 19,21,22,23,24,25,26,27
#            fi
      - run:
          name: Build Failed
          when: on_fail
          command: |
            wget https://raw.githubusercontent.com/segmentio/circleci-notifications/master/slack-notify-branch.sh
            chmod u+x slack-notify-branch.sh
            BUILD_STATUS="Failed" NOTIFY_BRANCH="master" ./slack-notify-branch.sh
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "analytics/build.gradle" }}-{{ checksum  "analytics-samples/analytics-sample/build.gradle" }}
      - run:
          name: Upload code coverage reports
          command: bash <(curl -s https://codecov.io/bash)
      - run:
          name: Deployment
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              .buildscript/deploy_snapshot.sh
            else
              echo "==> ignoring non-master branch"
            fi
workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          context: snyk
#  scheduled_e2e_test:
#    triggers:
#      - schedule:
#          cron: "20 * * * *"
#          filters:
#            branches:
#              only:
#                - master
#                - scheduled_e2e_testing
#    jobs:
#      - build:
#          context: snyk
